 /* Establecer un tamaño controlado para el carrusel */
 #carouselExampleCaptions {
    max-width: 70%; /* Limita el carrusel al 80% del ancho de su contenedor */
    margin: 0 auto; /* Centra el carrusel */
}

/* Controla el tamaño de las imágenes dentro del carrusel */
.carousel-item img {
    width: 100%;
    height: 400px; /* Establece una altura fija para las imágenes */
    object-fit: cover; /* Asegura que la imagen se recorte si es necesario */
}

/* Opcional: Controlar el tamaño de las descripciones */
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro y transparente */
}